<div class="container-fullwidth">

	<div class="row padtop">
		<div class="col-md-10 col-md-offset-1 ">
			<a href="https://github.com/jake-rigby"><i class="icon-github"></i></a>
			<a href="http://www.linkedin.com/profile/view?id=6678527"><i class="icon-linkedin"></i></a>
			<a href="https://soundcloud.com/jakerigbygames"><i class="icon-cloud"></i></a>
			<hr></hr>
		</div>	
	</div>

	<div class="row pad">
		<div class="col-md-6 col-md-offset-3 text-center copy_p">
			<h1>Jake Rigby : { <small class="">developer</small> }</h1>
		</div>
	</div>

	<div class="row pad">
		<ul class="list-inline text-center">
			<li class="pad"><a href="#home?scrollTo=projects"><i class="icon-laptop icon-3x "></i></a></li>
			<li class="pad"><a href="#home?scrollTo=education"><i class="icon-beaker icon-3x "></i></a></li>
			<li class="pad"><a href="#home?scrollTo=opensource"><i class="icon-circle-blank icon-3x "></i></a></li>
			<li class="pad"><a href="#home?scrollTo=music"><i class="icon-music icon-3x "></i></a></li>
		</ul>
	</div>

	<div class="row">
		<div class="col-md-10 col-md-offset-1 text-center">
			<ul class="list-inline">
				<li>Javascript</li>
				<li>Node.js</li>
				<li>Angular.js</li>
				<li>Socket.io</li>
				<li>Bootstrap</li>
				<li>Java</li>
				<li>Android</li>
				<li>IAB</li>
				<li>NoSQL (redis, mongo)</li>
				<li>Express</li>
				<li>Flash</li>
				<li>Air</li>
				<li>Audio Production</li>
				<li>Robotlegs</li>
				<li>Entity/ Component Architecture</li>
				<li>Flex</li>
				<li>MVC</li>
			</ul>
		</div>
	</div>
	<div class="row section "></div>


	<!-- ACHEIVMENTS -->
	<div class="row  section" id="projects">
		<div class="col-md-6 col-md-offset-3 text-center">
			<i class="icon-laptop icon-3x "></i>
		</div>
	</div>

	<div class="row">
		<div class="">
			<ul class="">
				<li class="">
					<div class="">
						<h3 class="">Lead Developer, Village Life</h3>
						<h4 class="">Playdemic : Jan 2012 - present</h4>
						<ul class="">
							<li>Led team of four to release</li>
							<li>1.5 MAU, 200k DAU (December 2013)</li>
							<li>Sole Java coder for Android port Q1 2014</li>
							<li>Hierachical finite state machine AI for autonomous characters</li>
							<li>Flexible quest system linking game flows to techtree progression, story arcs and retail elements</li>
							<li>Entity-component client architecture and custom MVC framework leveraging Robotlegs with Flex.</li>
							<li>Major augmentation to map progression and simultaneous, interacting worlds</li>
						</ul>
					</div>
				</li>
				<li class="">
					<div class="">
						<h3 class="">Senior Developer, Gourmet Ranch</h3>
						<h4 class="">Playdemic : Jan 2010 - Dec 2011</h4>
						<ul class="">
							<li>Early entrant to virtual-world social games genre</li>
							<li>Combining farming and cooking mechanics</li>
							<li>Flex UI framework development</li>
						</ul>
					</div>
				</li>
				<li class="">
					<div class="">
						<h3 class=" ">Independent Musician</h3>
						<h4 class="">2007 - 2009</h4>
						<ul class="">
							<li><a href="http://www.youtube.com/watch?v=dwtbaB3D1Zg">The Vice (2008)</a> - Thomas Beswick, Music and Sound Editing</li>
							<li>Orgatise (2008), Commercial, U&US</li>
							<li>BT Regions (2007), Commercial, British Telecom</li>
						</ul>
					</div>
				</li>
				<li class="">
					<div class="">
						<h3 class="">Music and Audio Engineer - Eidos Play Studios (formerly Rockpool Games)</h3>
						<h4  class="">2004 – 2008</h4>
						<ul class="">
							<li>Original music and sound design</li>
							<li>11 console titles including Doctor Who - Top Trumps, Super Monkey Ball and Battlemail</li>
							<li>16 Mobile titles including Sonic Golf, Sega Rally, Sponge Bob and Worms</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="row section "></div>



	<!-- EDUCATION -->
	<div class="row  section" id="education">
		<div class="col-md-6 col-md-offset-3 text-center">
			<i class="icon-beaker icon-3x "></i>
		</div>
	</div>

	<div class="row ">
		<div class="">
			<ul class="">
				<li class="">
					<div class="">
						<h3 class="">Research MSc in Signals Processing, Measurement and Analytical Science (EPSRC funded)</h3>
						<h4  class="">2002 – 2003</h4>
						<div class="">Dept. of Instrumentation and Analytical Science, UMIST Manchester</div>
					</div>
				</li>
				<li class="">
					<div class="">
						<h3 class="">BSc in Physics with Astrophysics (2.1)</h3>
						<h4  class="">1998 - 2002</h4>
						<div class="">The University of Birmingham</div>
					</div>
				</li>
				<li class="">
					<div class="">
						<h3 class="">A levels; Maths, Physics, Design, Art</h3>
						<h4  class="">1995 – 1997</h4>
						<div class="">St John Rigby 6th Form College, Orrell</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="row section "></div>



	<!-- OPEN SOURCE -->
	<div class="row  section" id="opensource">
		<div class="col-md-6 col-md-offset-3 text-center">
			<i class="icon-circle-blank icon-3x "></i>
		</div>
	</div>

	<div class="row ">
		<div class="">
			<ul class="">
				<li class="">
					<div class="">
						<a href="https://github.com/jake-rigby/microbe"><h3 class="media-heading ">microbe</h3></a>
						<h4 class="">node.js, socket.io, redis</h4>
						<ul class="">
							<li>Encapsulates express, passport.io, socket.io and redis in a node module for a quick start</li>
							<li>Serialises user authenticated credentials into the socket transport for easy implementation of user-specific services through a socket (expect this to become redundant in the coming 1.0 release of socket.io)</li>
							<li>Exposes clean methods to straighforwardly wire socket apis to a redis database</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="row section "></div>




	<!-- MUSIC -->
	<div class="row  section" id="music">
		<div class="col-md-6 col-md-offset-3 text-center">
			<i class="icon-music icon-3x "></i>
		</div>
	</div>

	<div class="row  pad">
		<div class="col-md-6 col-md-offset-3 copy_d">
			<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F1684818&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=true"></iframe>
		</div>
	</div>

	<div class="row  pad">
		<div class="col-md-6 col-md-offset-3 copy_d">
<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1684551&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true"></iframe>
		</div>
	</div>

</div>